.charticulator__reset_chart_dialog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100%;

    &-inner {
        background: #e6e6e6;
        padding: 5px;
        border: 1px #d6d6d6 solid;

        * {
            font-size: 14px;
        }
    }

    &-buttons {
        * {
            margin: 5px 5px 5px 5px;
        }
    }
}